<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyProfile</title>


    <link href="icon.png" rel=icon>


    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">


    <link href="css/font-awesome.min.css" rel="stylesheet">

 
    <link href="css/bootstrap.min.css" rel="stylesheet">

 
    <link href="css/owl.carousel.css" rel="stylesheet">


    <link href="css/style.css" rel="stylesheet">

</head>
<body>
<div id="main-wrapper">

<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="img/img-profile.jpg" height= "200" width="280"/>
                </div>

            </div>
            <div class="col-md-9">
                <div class="name-wrapper">
                    <h1 class="name">Apichat Piluk</h1>
                    <span> </span>
                </div>
                <p>

                </p>


                <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>AUGUST 11, 1996</strong>
                            <small>BIRTH</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>THAI</strong>
                            <small>NATIONALITY</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>THAI <span>(NATIVE)</span></strong>
                            <small>LANGUAGE</small>
                        </div>
                    </div>
                </div>

                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/maxrevorz"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
     
                </ul>
            </div>
        </div>
    </div>
</header>


<section class="section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>My Activity</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">30%</div>
                            <div class="item-stats-name">STUDY</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">20%</div>
                            <div class="item-stats-name">GAME</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">10%</div>
                            <div class="item-stats-name">MOVIE</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">40%</div>
                            <div class="item-stats-name">OTHER</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="section-wrapper skills-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-wrapper">

                            <h3>CODING SKILLS</h3>

                            <div class="progress-item">
                                <span class="progress-title">HTML5</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 100%">
                                    </div>
                                </div>

                            </div>
 

                            <div class="progress-item">
                                <span class="progress-title">C++</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 100%">
                                    </div>
                                </div>

                            </div>


                            <div class="progress-item">
                                <span class="progress-title">Python</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 100%;">
                                    </div>
                                </div>

                            </div>


                            <div class="progress-item">
                                <span class="progress-title">JavaScript</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 100%;">

                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>




<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Education</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-item">
                            <small>2015 - Present</small>
                            <h3>Computer Engineering</h3>
                            <h4>Naresuan University</h4>

                            <p>Thailand, Phitsanulok</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</section>





<section class="section-contact section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <address>
                            <strong>Address</strong><br>
								101/2 ถนนศรีน้ำซึม <br> 
								ตำบลอุทัยใหม่<br>
								อำเภอเมืองอุทัยธานี <br>
								จังหวัดอุทัยธานี 61000

                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Phone Number</strong><br>
                            093-921-1093
                        </address>
                    </div>

                    <div class="col-md-3">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#">apichatp58@email.nu.ac.th</a>
                        </address>
                    </div>

                </div>

                

            </div>
        </div>


    </div>

</section>




</div>



<script src="js/jquery-2.1.4.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script src="js/scripts.js"></script>
</body>
</html>